@model IEnumerable<myCMS.Models.Translation>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDefault)
        </th>
        @*        <th></th>*@
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { name = item.Name }) |
                @Html.ActionLink("Details", "Details", new { name = item.Name }) |
                @*            @Html.ActionLink("Delete", "Delete", new { id=item.CMSPageId })*@
            </td>
        </tr>
    }

</table>

<br/>

<ul><p>debug only</p></ul>
<p>Language = @ViewBag.langRV</p>
<p>Controller = @ViewBag.contRV</p>
<p>Action = @ViewBag.actiRV</p>
