<h2>Welcome to myCMS Project.</h2>
<br/>

<p>Page Title = @ViewBag.Title</p>

@if (ViewBag.Test != null)
{
    @ViewBag.Test
}


<br/>

<p>debug only</p>
<p>Language = @ViewBag.langRV</p>
<p>Controller = @ViewBag.contRV</p>
<p>Action = @ViewBag.actiRV</p>
<p>Id = @ViewBag.idRV</p>
